<template name="navbar">
		<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        Site Ace
	      </a>
	    </div>
	    <ul class="nav navbar-nav navbar-right" style="padding-right: 200px">
	      	<li><a href="{{pathFor route='search_page'}}" id="searchBtn"><span class="glyphicon glyphicon-search"></span> Search</a></li>
	      	<li><a> {{ > loginButtons}}</a></li>
    	</ul>
	  </div>
	</nav>
</template>